
body {
    background-color: #F5F5DC;
}
.title_box {
    background-image: url("vineyard3.jpg");
}
.well {
    background-color: #800000;
}
.container {
    background-color: #F5F5DC;
}

.titleFont {
    font-family: fantasy;
}
.site-intro {
    font-family: fantasy;
}
.secondaryTitleFont {
    font-family: fantasy;
    font-weight: bolder;
}
.title {
    font-family: fantasy;
}

h4 {
    font-family: fantasy;
}

p {
    font-family: fantasy;
}
.footer {
    background-color: #5F9EA0;
    text-align: center;
}